html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.__react_component_tooltip.type-dark {
    background: var(--bg-color-dark-blue);
    opacity: 1;
}