input {
  margin: 0 auto;
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 700px;
    border: none;
    border: 2px solid rgb(197, 226, 245);
  }
  
  input:focus {
    outline: none;
    border: 1px solid rgb(14, 143, 2);
  }